body {
    background-color: #1e2d3b;
    color: #666;
}

.row > * {
    width: 20%;
    padding: 0.5rem;
}

#logo-container {
    display: flex;
    padding: 5px;
    background-color: #2e3a46;
}

#logo-container img {
    width: 50px;
}

.ar-card {
    padding: 0.5rem;
}


.card {
    background-color: #2e3a46;
    text-align: center;
    padding: 1rem;
    min-height: 350px;
}

h2 {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 0.5rem;
}